.puzzle_cont {
  display: block;
  border: 1px solid #000000;
  text-align: center;
  width: fit-content;
  height: 100%;
  padding: 50px;
  margin: auto;
}

.puzzle_board {
  display: block;
  border: 3px solid green;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: green;
  padding: 0;
}

.puzzle-peices {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 0px;
  padding: 2px;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.puzzle-peices .puzzle-peice {
  display: block;
  border: 2px solid #000000;
  width: auto;
  height: auto;
  transition: all 0.5s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 0;
}

.puzzle-peices .puzzle-peice:hover {
  cursor: pointer;
  opacity: 0.5;
}

.puzzle-image {
  display: block;
  border: 1px solid green;
  width: 300px;
  height: 200px;
  margin: auto;
}

.win-container {
  display: none;
  position: absolute;
  width: 300px;
  height: 200px;
  top: 30%;
  left: 30%;
  bottom: auto;
  right: auto;
  margin: auto;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 50px 20px;
  box-shadow: 0px 0px 20px black;
  text-align: center;
  color: green;
}

.win-container .play-again {
  display: block;
  width: 120px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 4px 4px green;
  margin: auto;
  margin-top: 60px;
  background-color: grey;
  padding: 10px;
}

.win-container .play-again:hover {
  cursor: pointer;
  color: green;
  box-shadow: 0px 0px 24px green;
  background-color: transparent;
}
